<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="org.docspell.docspellshare"
        android:installLocation="auto">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:allowBackup="true"
            android:fullBackupContent="@xml/backup_rules"
            android:usesCleartextTraffic="true"
            android:icon="@drawable/logo_96"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <activity
                android:name=".activity.QrCodeActivity"
                android:label="@string/title_activity_qrcode" />
        <activity
                android:name=".activity.ShareActivity"
                android:label="@string/title_activity_share">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="application/*" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.AddUrlActivity"
                android:label="@string/create_new_url" />
        <activity
                android:name=".activity.MainActivity"
                android:label="@string/title_activity_main"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
